.colors .col{
  display: inline-flex;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.col div{
  padding: 16px;
}
.colors label,
.colors span{
  display: inline-flex;
}
.colors label{
  float: left;
}
.colors span{
  float: right;
}



.green[colornumber="000"]{
  background-color: #E8F5E9;
}
.green[colornumber="100"]{
  background-color: #C8E6C9;
}
.green[colornumber="200"]{
  background-color: #A5D6A7;
}
.green[colornumber="300"]{
  background-color: #81C784;
}
.green[colornumber="400"]{
  background-color: #66BB6A;
}
.green[colornumber="500"]{
  background-color: #4CAF50;
}
.green[colornumber="600"]{
  background-color: #43A047;
}
.green[colornumber="700"]{
  background-color: #388E3C;
  color: #FFFFFF;
}
.green[colornumber="800"]{
  background-color: #2E7D32;
  color: #FFFFFF;
}
.green[colornumber="900"]{
  background-color: #1B5E20;
  color: #FFFFFF;
}


.cyan[colornumber="000"]{
  background-color: #E0F7FA;
}
.cyan[colornumber="100"]{
  background-color: #B2EBF2;
}
.cyan[colornumber="200"]{
  background-color: #80DEEA;
}
.cyan[colornumber="300"]{
  background-color: #4DD0E1;
}
.cyan[colornumber="400"]{
  background-color: #26C6DA;
}
.cyan[colornumber="500"]{
  background-color: #00BCD4;
}
.cyan[colornumber="600"]{
  background-color: #00ACC1;
  color: #FFFFFF;
}
.cyan[colornumber="700"]{
  background-color: #0097A7;
  color: #FFFFFF;
}
.cyan[colornumber="800"]{
  background-color: #00838F;
  color: #FFFFFF;
}
.cyan[colornumber="900"]{
  background-color: #006064;
  color: #FFFFFF;
}


.blue[colornumber="000"]{
  background-color: #E3F2FD;
}
.blue[colornumber="100"]{
  background-color: #BBDEFB;
}
.blue[colornumber="200"]{
  background-color: #90CAF9;
}
.blue[colornumber="300"]{
  background-color: #64B5F6;
}
.blue[colornumber="400"]{
  background-color: #42A5F5;
}
.blue[colornumber="500"]{
  background-color: #2196F3;
  color: #FFFFFF;
}
.blue[colornumber="600"]{
  background-color: #1E88E5;
  color: #FFFFFF;
}
.blue[colornumber="700"]{
  background-color: #1976D2;
  color: #FFFFFF;
}
.blue[colornumber="800"]{
  background-color: #1565C0;
  color: #FFFFFF;
}
.blue[colornumber="900"]{
  background-color: #0D47A1;
  color: #FFFFFF;
}



.dark-blue[colornumber="000"]{
  background-color:#E1E9EC;
}
.dark-blue[colornumber="100"]{
  background-color:#B4C8D0;
}
.dark-blue[colornumber="200"]{
  background-color:#82A4B1;
}
.dark-blue[colornumber="300"]{
  background-color:#4F7F91;
}
.dark-blue[colornumber="400"]{
  background-color:#2A637A;
  color: #FFFFFF;
}
.dark-blue[colornumber="500"]{
  background-color:#044862;
  color: #FFFFFF;
}
.dark-blue[colornumber="600"]{
  background-color:#03415A;
  color: #FFFFFF;
}
.dark-blue[colornumber="700"]{
  background-color:#033850;
  color: #FFFFFF;
}
.dark-blue[colornumber="800"]{
  background-color:#023046;
  color: #FFFFFF;
}
.dark-blue[colornumber="900"]{
  background-color:#012134;
  color: #FFFFFF;
}




.yellow[colornumber="000"]{
  background-color: #FFFDE7;
}
.yellow[colornumber="100"]{
  background-color: #FFF9C4;
}
.yellow[colornumber="200"]{
  background-color: #FFF59D;
}
.yellow[colornumber="300"]{
  background-color: #FFF176;
}
.yellow[colornumber="400"]{
  background-color: #FFEE58;
}
.yellow[colornumber="500"]{
  background-color: #FFEB3B;
}
.yellow[colornumber="600"]{
  background-color: #FDD835;
}
.yellow[colornumber="700"]{
  background-color: #FBC02D;
}
.yellow[colornumber="800"]{
  background-color: #F9A825;
  color: #FFFFFF;
}
.yellow[colornumber="900"]{
  background-color: #F57F17;
  color: #FFFFFF;
}


.orange[colornumber="000"]{
  background-color: #FFF3E0;
}
.orange[colornumber="100"]{
  background-color: #FFE0B2;
}
.orange[colornumber="200"]{
  background-color: #FFCC80;
}
.orange[colornumber="300"]{
  background-color: #FFB74D;
}
.orange[colornumber="400"]{
  background-color: #FFA726;
}
.orange[colornumber="500"]{
  background-color: #FF9800;
}
.orange[colornumber="600"]{
  background-color: #FB8C00;
}
.orange[colornumber="700"]{
  background-color: #F57C00;
  color: #FFFFFF;
}
.orange[colornumber="800"]{
  background-color: #EF6C00;
  color: #FFFFFF;
}
.orange[colornumber="900"]{
  background-color: #E65100;
  color: #FFFFFF;
}


.deep-orange[colornumber="000"]{
  background-color: #FBE9E7;
}
.deep-orange[colornumber="100"]{
  background-color: #FFCCBC;
}
.deep-orange[colornumber="200"]{
  background-color: #FFAB91;
}
.deep-orange[colornumber="300"]{
  background-color: #FF8A65;
}
.deep-orange[colornumber="400"]{
  background-color: #FF7043;
}
.deep-orange[colornumber="500"]{
  background-color: #FF5722;
}
.deep-orange[colornumber="600"]{
  background-color: #F4511E;
  color: #FFFFFF;
}
.deep-orange[colornumber="700"]{
  background-color: #E64A19;
  color: #FFFFFF;
}
.deep-orange[colornumber="800"]{
  background-color: #D84315;
  color: #FFFFFF;
}
.deep-orange[colornumber="900"]{
  background-color: #BF360C;
  color: #FFFFFF;
}


.brown[colornumber="000"]{
  background-color: #EFEBE9;
}
.brown[colornumber="100"]{
  background-color: #D7CCC8;
}
.brown[colornumber="200"]{
  background-color: #BCAAA4;
}
.brown[colornumber="300"]{
  background-color: #A1887F;
}
.brown[colornumber="400"]{
  background-color: #8D6E63;
}
.brown[colornumber="500"]{
  background-color: #795548;
  color: #FFFFFF;
}
.brown[colornumber="600"]{
  background-color: #6D4C41;
  color: #FFFFFF;
}
.brown[colornumber="700"]{
  background-color: #5D4037;
  color: #FFFFFF;
}
.brown[colornumber="800"]{
  background-color: #4E342E;
  color: #FFFFFF;
}
.brown[colornumber="900"]{
  background-color: #3E2723;
  color: #FFFFFF;
}






.grey[colornumber="000"]{
  background-color: #FAFAFA;
}
.grey[colornumber="100"]{
  background-color: #F5F5F5;
}
.grey[colornumber="200"]{
  background-color: #EEEEEE;
}
.grey[colornumber="300"]{
  background-color: #E0E0E0;
}
.grey[colornumber="400"]{
  background-color: #BDBDBD;
}
.grey[colornumber="500"]{
  background-color: #9E9E9E;
}
.grey[colornumber="600"]{
  background-color: #757575;
  color: #FFFFFF;
}
.grey[colornumber="700"]{
  background-color: #616161;
  color: #FFFFFF;
}
.grey[colornumber="800"]{
  background-color: #424242;
  color: #FFFFFF;
}
.grey[colornumber="900"]{
  background-color: #212121;
  color: #FFFFFF;
}


.blue-grey[colornumber="000"]{
  background-color: #ECEFF1;
}
.blue-grey[colornumber="100"]{
  background-color: #CFD8DC;
}
.blue-grey[colornumber="200"]{
  background-color: #B0BEC5;
}
.blue-grey[colornumber="300"]{
  background-color: #90A4AE;
}
.blue-grey[colornumber="400"]{
  background-color: #78909C;
}
.blue-grey[colornumber="500"]{
  background-color: #607D8B;
  color: #FFFFFF;
}
.blue-grey[colornumber="600"]{
  background-color: #546E7A;
  color: #FFFFFF;
}
.blue-grey[colornumber="700"]{
  background-color: #455A64;
  color: #FFFFFF;
}
.blue-grey[colornumber="800"]{
  background-color: #37474F;
  color: #FFFFFF;
}
.blue-grey[colornumber="900"]{
  background-color: #263238;
  color: #FFFFFF;
}
