.colors .col{
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.col div{
    padding: 16px;
}

.colors div idv{
    display: flex;
}

.colors label,
.colors span{
    display: inline-flex;
}
.colors label{
    float: left;
}

.colors span{
    float: right;
}

.blue-grey.white{
    color: #FFFFFF;
}


.blue-grey[colornumber="000"]{
    background-color: #ECEFF1;
}
.blue-grey[colornumber="100"]{
    background-color: #CFD8DC;
}
.blue-grey[colornumber="200"]{
    background-color: #B0BEC5;
}
.blue-grey[colornumber="300"]{
    background-color: #90A4AE;
}
.blue-grey[colornumber="400"]{
    background-color: #78909C;
}
.blue-grey[colornumber="500"]{
    background-color: #607D8B;
    color: #FFFFFF
}
.blue-grey[colornumber="600"]{
    background-color: #546E7A; 
    color: #FFFFFF
}
.blue-grey[colornumber="700"]{
    background-color: #455A64; 
    color: #FFFFFF
}
.blue-grey[colornumber="800"]{
    background-color: #37474F; 
    color: #FFFFFF
}
.blue-grey[colornumber="900"]{
    background-color: #263238; 
    color: #FFFFFF
}


.grey[colornumber="000"]{
    background-color: #FAFAFA;
}
.grey[colornumber="100"]{
    background-color: #F5F5F5;
}
.grey[colornumber="200"]{
    background-color: #EEEEEE;
}
.grey[colornumber="300"]{
    background-color: #E0E0E0;
}
.grey[colornumber="400"]{
    background-color: #BDBDBD;
}
.grey[colornumber="500"]{
    background-color: #9E9E9E;
    color: #FFFFFF
}
.grey[colornumber="600"]{
    background-color: #757575; 
    color: #FFFFFF
}
.grey[colornumber="700"]{
    background-color: #616161; 
    color: #FFFFFF
}
.grey[colornumber="800"]{
    background-color: #424242; 
    color: #FFFFFF
}
.grey[colornumber="900"]{
    background-color: #212121; 
    color: #FFFFFF
}


.brown[colornumber="000"]{
    background-color: #EFEBE9;
}
.brown[colornumber="100"]{
    background-color: #D7CCC8;
}
.brown[colornumber="200"]{
    background-color: #BCAAA4;
}
.brown[colornumber="300"]{
    background-color: #A1887F;
}
.brown[colornumber="400"]{
    background-color: #8D6E63;
}
.brown[colornumber="500"]{
    background-color: #795548;
    color: #FFFFFF
}
.brown[colornumber="600"]{
    background-color: #6D4C41; 
    color: #FFFFFF
}
.brown[colornumber="700"]{
    background-color: #5D4037; 
    color: #FFFFFF
}
.brown[colornumber="800"]{
    background-color: #4E342E; 
    color: #FFFFFF
}
.brown[colornumber="900"]{
    background-color: #3E2723; 
    color: #FFFFFF
}


.deep-orange[colornumber="000"]{
    background-color: #FBE9E7;
}
.deep-orange[colornumber="100"]{
    background-color: #FFCCBC;
}
.deep-orange[colornumber="200"]{
    background-color: #FFAB91;
}
.deep-orange[colornumber="300"]{
    background-color: #FF8A65;
}
.deep-orange[colornumber="400"]{
    background-color: #FF7043;
}
.deep-orange[colornumber="500"]{
    background-color: #FF5722;
    color: #FFFFFF
}
.deep-orange[colornumber="600"]{
    background-color: #F4511E; 
    color: #FFFFFF
}
.deep-orange[colornumber="700"]{
    background-color: #E64A19; 
    color: #FFFFFF
}
.deep-orange[colornumber="800"]{
    background-color: #D84315; 
    color: #FFFFFF
}
.deep-orange[colornumber="900"]{
    background-color: #BF360C; 
    color: #FFFFFF
}