body {
    background-color: #FAFCFE;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1, h2, p, ul, li {
    font-family: sans-serif;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  
  ul.header {
    background-color: #044862;
    padding: 0;
    margin: 0;
  }

  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  ul.header li a .svg-inline--fa{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    font-size: 16px;
    line-height: 19px;
  }

  .content {
    display: flex;
    padding: 12px;
    background-color: #FFF;
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }
  
  .content li {
    margin-bottom: 10px;
  }



  .row{
    width: 100%;
    height: auto;
    display: block;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}

  .row .col.s12{
      width: 100%;
      height: auto;
      display: inline-flex;
      margin: 0;
  }


  @media only screen and (min-width: 601px){
    .row .col.m6 {
        width: 50%;
    }
  }

  @media only screen and (min-width: 993px){
    .row .col.l4 {
        width: 33.3333333333%;
    }

    .row .col.l3 {
        width: 25%;
    }
  }
